<!--<h1>Allah Almighty Is Greatest OF All.</h1>-->
<!--<h1>Hazrat Muhammad(PBUH)</h1>
        <h3>{{muslim}}</h3>-->
<Header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</Header>
