<!DOCTYPE html>
<html>
    <head>
        <title>Index Page.</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Muhammad Waqas Rasheed.It uses data from mapbox.com and openweather.com</p>
            <img src="/public/img/robot.png" alt="Pic Missing">
        </div>
        {{>footer}}
    </body>
</html>