<!DOCTYPE html>
<html>
    <head>
        <title>Index Page.</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        <p>Need Some Help about weather...</p>
        {{>footer}}
    </body>
</html>